html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003366;
  color: #fff;
  padding: 20px;
}

header img {
  height: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Main content */
main {
  padding: 20px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

/* Footer */
footer {
  background-color: #003366;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Media queries for responsive design */
@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  
  header img {
    margin-bottom: 10px;

  }
  
  nav {
    margin-top: 10px;
  }
  
  nav li {
    margin-right: 10px;
  }
}
